#top-bar{
height: 50px;
text-align: right;
/*margin-right: 150px;*/
}
body{
	background-color: #ECEEF1;
}
#header{
background-color: #ECEEF1;
height: 100px;
margin-left: 40%;
margin-right: 40%;
}

#sign-button{
	margin-top: 0;
	width: 100px;
	height: 50px;
	float: right;
}
p {
	margin-right: 150px;
}

#login-form{
	background-color: white;
height: 400px;

}
#footer{
background-color: #ECEEF1;
height: 50px;
}

#intuit{
	margin-left: auto;
	margin-right: auto;
}
#other-img{
	margin: 0 30% 0 30%;
}
.other-images{
	

}