#top-bar{
height: 50px;
text-align: right;
/*margin-right: 150px;*/
}
body{
	background-color: #ECEEF1;
}
#header{
background-color: #ECEEF1;
height: 100px;
margin-left: 40%;
margin-right: 40%;
}

#sign-button{
	margin-top: 0;
	width: 100px;
	height: 50px;
	float: right;
}
#top-bar p {
	margin-right: 150px;
}

#login-form{
	margin: 0 auto;
	width: 30%;
	text-align: left;
	background-color: white;
height: 80%;

}
#form-text{
	text-align: center;
}

#bottom-text{
	margin: 3px 10px;
	font-style: italic;
	text-align: center;
	font-size: 14px;
}
#bottom-text a{
	text-decoration: none;
}
#footer{
background-color: #ECEEF1;
height: 50px;
}


#intuit{
	margin-left: auto;
	margin-right: auto;
}
#other-img{
}
.other-images{
	

}
#mail, #phone, #password{
	width: 80%;
	height: 30px;
	margin: 5px 25px;
	margin-bottom: 20px;
}
#create-button{
	width: 80%;
	font-size: 17px;
	height: 40px;
	margin: 5px 25px;
	background-color: #4286f4;
	color: white;

}
#mail-label, #phone-label, #password-label{
	margin-left: 7%;

}

#terms{
	background-color:#ECEEF1 ;
	border-width: 0px 1px 1px 1px;
	border-color: grey;
	border-style: solid;
	height: 40px;
	width: 100%;
}
#terms p{
	padding-top: 10px;
	text-align: center;
	font-size: 14px;
}

#footer p{
	margin: 3px 10px;
	text-align: center;
	font-size: 12px;
}
#footer p a{
	text-decoration: none;
	margin: 0 2px;
	color: black;
}
